<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="background-color: #F4EEFF !important; border-bottom: 1px solid #E6D9F9;">
          <button class="navbar-toggler navbar-toggler align-self-center position-absolute d-none d-lg-block" type="button" data-toggle="minimize" style="z-index: 3; left: 20px; border: none; background: transparent; cursor: pointer; height: 100%;">
            <span class="mdi mdi-menu" style="font-size: 1.8rem; color: #8E2DE2;"></span>
          </button>
          <div class="position-absolute w-100 h-100 d-flex align-items-center justify-content-center" style="left: 0; top: 0; pointer-events: none; z-index: 1;">
                <a href="{{url_for('dashboard')}}" style="font-weight: 800; font-size: 1.8rem; color: #8E2DE2; text-decoration: none; pointer-events: auto; letter-spacing: 1px;">Testwise</a>
          </div>
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center" style="background-color: transparent; border-right: 1px solid #E6D9F9;">
                <!-- Logo moved to center -->
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <!-- <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                        </div>
                    </form>
                </div> -->
                <ul class="navbar-nav navbar-nav-right">


                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="{{url_for('load')}}" data-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                {% if session['login_mode']=='google' %}
                                    <img src="{{session['img']}}" alt="image">
                                {% elif session['login_mode']=='SVV' %}
                                    <img src="{{session['img']}}" alt="{{session['username']}}">
                                {% else %}
                                    {% if session['gender'] =='M' %}
                                        <img src="{{url_for('static', filename='images/man.png')}}" alt="image">
                                    {% else %}
                                        <img src="{{url_for('static', filename='images/woman.png')}}" alt="image">
                                    {% endif %}
                                
                                {% endif %}
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">{{ session['username'] }}</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="{{url_for('show_profile')}}">
                                <i class="mdi mdi-account mr-2 text-success"></i> Profile</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{url_for('logout')}}">
                                <i class="mdi mdi-logout mr-2 text-primary"></i> Signout </a>
                        </div>
                    </li>

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
            </div>
        </nav>